<%include partials/header %>


<div class="loginContainer">
    <p class="loginHeadline"> Please login to use the DB</p>
    <form method="POST" action="/login">
        <input class="loginButton" type="text" placeholder="username" name="username">
        <input class="loginButton" type="password" placeholder="password" name="password"></br>
        <button class="loginButton btn btn-primary">Login</button>
    </form>
</div>    

<%include partials/footer%>