<p>Hello World</p>

<form method="POST" action="/login">
    <input type="text" placeholder="username" name="username">
    <input type="password" placeholder="password" name="password">
    <button>Login</button>
</form>

<p><a href="/register">Register</a></p>
<p><a href="/login">Login </a></p>
<p><a href="/logout">logout</a></p>