<%include partials/header %>


<div class="loginContainer">
    <p class="loginHeadline"> Please register to become part of the DB</p>
    <form method="POST" action="/register">
        <input class="loginButton"  type="text" placeholder="Username" name="username">
        <input class="loginButton"  type="password" placeholder="password" name="password"></br>
        <button class="loginButton btn btn-primary">Submit</button>
    </form>
</div class="loginContainer">

<%include partials/footer%>