<p>Hello World - please register</p>

<form method="POST" action="/register">
    <input type="text" placeholder="Username" name="username">
    <input type="password" placeholder="password" name="password">
    <button>Submit</button>
</form>

<p><a href="/register">Register</a></p>
<p><a href="/login">Login </a></p>
<p><a href="/logout">logout</a></p>