<%include partials/header %>

<div class="loginContainer">
    <header class="h1 loginHeadline">Welcome</header>
    <p class="loginText">Please login or register</p>
    <button class="loginButton btn btn-primary"><a href="/login">Login<a/></button>
    <button class="loginButton btn btn-primary"><a href="mailto:tobias.henke@gmx.info">Register<a/></button>

</div>

<%include partials/footer %>



