<%include partials/header %>

<div class="loginContainer">
    <header class="h1 loginHeadline">Welcome</header>
    <p class="loginText">Please login or register</p>
    <p class="loginButton btn btn-primary"><a href="/login">Login<a/></p>
</div>






