body {
    background: #ffffff;
}

#indexFoto {
    height: 300px;
}

.delete{
    border: solid 1px red;
    background-color: #e83e5a;
    height: 40px;
    width: 40px;
    margin-top: 20px;
    margin-left: 20px;
}

.caption{
    display: flex;
    justify-content: center;
}

#headline{
    font-size: 25px;
    
}

#show{
    display: flex;
    margin-top: 40px;
}

.showTableInfos{
    padding-right:10px;
}

.image{
    width: 500px;
}


#totalWhisky{
 font-size: 16px;
 font-weight: bold;
}

.loginContainer{
    margin-top: 100px;
    margin-bottom: 100px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    border:solid 1px;
    border-radius: 10px;
    text-align: center;
    background-color: #C9D2D9;
    padding: 10px;
}

.loginHeadline{
    width: 300px;
    margin: auto;
    text-align: center;
}

.loginText{
    width: 300px;
    margin: 10px auto 10px auto;
    text-align: center;
}

.loginButton{
    width: 300px;
    text-align: center;
    margin:5px auto 5px auto;
}

a {
    color: white;
}

.comment{
    height: 50px;
}

.form-control{
    margin-top: 10px;
    margin-bottom: 20px;
}
