body {
    background: #ffffff;
}

.indexFoto {
    height: 100px;
    display: flex;
    flex-wrap: wrap;
}

.delete{
   
    border: solid 1px red;
    background-color: #e83e5a;
    height: 40px;
    width: 40px;
    margin-top: 20px;
    margin-left: 20px;
}

.caption{
    display: flex;
    justify-content: center;
}

#headline{
    font-size: 25px;
    
}

#show{
    display: flex;
    margin-top: 40px;
}

.showTableInfos{
    padding-right:10px;
}