body {
    background: #ffffff;
}

#indexFoto {
    height: 300px;
}

.delete{
    border: solid 1px red;
    background-color: #e83e5a;
    height: 40px;
    width: 40px;
    margin-top: 20px;
    margin-left: 20px;
}

.caption{
    display: flex;
    justify-content: center;
}

#headline{
    font-size: 25px;
    
}

#show{
    display: flex;
    margin-top: 40px;
}

.showTableInfos{
    padding-right:10px;
}

.image{
    width: 500px;
}


#totalWhisky{
 font-size: 16px;
 font-weight: bold;
}

.loginContainer{
    margin-top: 100px;
    margin-bottom: 100px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    border:solid 1px;
    border-radius: 10px;
    text-align: center;
    background-color: #C9D2D9;
    padding: 10px;
}

.loginHeadline{
    width: 300px;
    margin: auto;
    text-align: center;
}

.loginText{
    width: 300px;
    margin: 10px auto 10px auto;
    text-align: center;
}

.loginButton{
    width: 300px;
    text-align: center;
    margin:5px auto 5px auto;
}

a {
    color: white;
}

.comment{
    height: 50px;
}

.form-control{
    margin-top: 10px;
    margin-bottom: 20px;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}